<link rel="import" href="bower_components/paper-input/paper-input-container.html">
<link rel="import" href="bower_components/paper-input/paper-input-error.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">

<link rel="import" href="resources/js/angularPolymerBind/x-double.html">

<h1 name="helloWorld">{{datosBasicos.name}}</h1>

<x-double bind-polymer in="{{datosBasicos.pizzaState}}" id="comp"></x-double>
<pre ng-bind="datosBasicos.pizzaState"></pre>
<input type="text" name="valor" ng-model="datosBasicos.pizzaState">

<br/>
<button ng-click="datosBasicos.value(pizzaState)">Value</button>

<p>{{description}}</p>

<paper-input label="this input requires some text" required auto-validate error-message="needs some text!"></paper-input>
<paper-input label="this input requires letters only" auto-validate pattern="[a-zA-Z]*" error-message="letters only!"></paper-input>
<paper-input label="this input will only let you type letters" auto-validate allowed-pattern="[a-zA-Z]"></paper-input>
<paper-input id="inputForValidation" required label="this input is manually validated" pattern="[a-zA-Z]*" error-message="letters only!"></paper-input>
<button onclick="validate()">Validate!</button>

<script>
  function validate() {
    document.getElementById('inputForValidation').validate();
  }

  function clearInput() {
    document.getElementById('inputWithButton').value = '';
  }
</script>

<ul class="phone-thumbs">
  <li ng-repeat="item in datosBasicos.items">
    {{item}}
  </li>
</ul>

<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
  <div>
    <md-input-container>
      <label>Title</label>
      <input ng-model="datosBasicos.user.title">
    </md-input-container>

    <md-input-container>
      <label>Email</label>
      <input ng-model="datosBasicos.user.email" type="email">
    </md-input-container>
  </div>
</md-content>

<md-content layout-padding="">
  <div>
    <form name="userForm">

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs="">
          <label>Company (Disabled)</label>
          <input ng-model="datosBasicos.user.company" disabled="">
        </md-input-container>

        <md-datepicker ng-model="datosBasicos.user.submissionDate" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>First name</label>
          <input ng-model="datosBasicos.user.firstName">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Last Name</label>
          <input ng-model="datosBasicos.theMax">
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Address</label>
        <input ng-model="datosBasicos.user.address">
      </md-input-container>

      <md-input-container md-no-float="" class="md-block">
        <input ng-model="datosBasicos.user.address2" placeholder="Address 2">
      </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>City</label>
          <input ng-model="datosBasicos.user.city">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>State</label>
          <md-select ng-model="datosBasicos.user.state">
            <md-option ng-repeat="state in datosBasicos.states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Postal Code</label>
          <input name="postalCode" ng-model="datosBasicos.user.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

          <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Biography</label>
        <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
      </md-input-container>

    </form>
  </div>
</md-content>
